<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <img src="img/logo.svg" alt="" width="149" class="footer__logo">

                <div class="footer__brands">
                    <span>Наши бренды</span>
                    <img src="img/logo.svg" width="129" alt="">
                    <img src="img/hoolister.svg" width="67" alt="">
                </div>
            </div>
            <div class="footer__col">
                <p class="footer__title">Компания</p>
                
                <ul>
                    <li><a href="javascript:void(0)">О компании</a></li>
                    <li><a href="javascript:void(0)">Возврат</a></li>
                    <li><a href="javascript:void(0)">Новости</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__col">
                    <p class="footer__title">Помощь</p>
                    
                    <ul>
                        <li><a href="javascript:void(0)">Помощь клиенту</a></li>
                        <li><a href="javascript:void(0)">Помощь с заказами</a></li>
                        <li><a href="javascript:void(0)">Возвраты</a></li>
                        <li><a href="javascript:void(0)">Отслеживание заказа</a></li>
                        <li><a href="javascript:void(0)">Оплата</a></li>
                        <li><a href="javascript:void(0)">Мой аккаунт</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__links">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-card"></use></svg> <span>Подарочные карты</span></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-point"></use></svg> <span>Наши магазины</span></a>
                </div>
            </div>
            <div class="footer__col">
                <form action="">
                    <p>Подпишитесь на рассылку</p>
                    <div class="form-group">
                        <input type="email" placeholder="Ваш Email для новостей">
                        <button>ОК</button>
                    </div>
                </form>
                <div class="footer__social">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-facebook"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-twitter"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-pin"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-inst"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-youtube"></use></svg></a>
                </div>
            </div>
        </div>

        <div class="footer__row bottom">
            <div class="footer__nav">
                <span>© 2019 Abercrombie.ru</span>
                <a href="javascript:void(0)">Политика конфидециальности</a>
                <a href="javascript:void(0)">Условия пользования сайтом</a>
            </div>

            <span>Создание сайта <a href="javascript:void(0)">MondayStudio.ru</a></span>
        </div>
    </div>
</footer>

<div class="scrolltop"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-top"></use></svg></div>

<div class="modals">
    <div class="modal reset-wrap" data-modal="reset">
        <div class="modal__close"></div>

        <form class="reset">
            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-letter"></use></svg>
            <p>Восстановление пароля</p>
            <span>Если вы забыли пароль, введите логин или Email. Контрольная строка <br> для смены пароля, а также ваши регистрационные данные, будут <br> высланы вам по Email.</span>
            <div class="checkout__input">
                <div class="form-group">
                    <input type="text" placeholder="Email">
                </div>
            </div>
            <div class="enter__policy">
                <a href="javascript:void(0)">Политика безопасности</a>
                <a href="javascript:void(0)">Пользовательское соглашение</a>
            </div>
            <button>Восстановить пароль</button>
        </form>
    </div>

    <div class="modal enter-wrap" data-modal="enter">
        <div class="modal__close"></div>

        <div class="enter">
            <div class="enter__nav">
                <a href="javascript:void(0)" class="active" data-tab="login">Вход</a>
                <a href="javascript:void(0)" data-tab="registration">Регистрация</a>
            </div>

            <div class="enter__body">
                <form class="enter__tab active" data-tab="login">
                    <div class="checkout__input">
                        <div class="form-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Пароль">
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="enter__lost" data-modal="reset">Забыли пароль?</a>
                    <div class="enter__policy">
                        <a href="javascript:void(0)">Политика безопасности</a>
                        <a href="javascript:void(0)">Пользовательское соглашение</a>
                    </div>
                    <button>Войти</button>
                </form>
                <form class="enter__tab" data-tab="registration">
                    <div class="checkout__input">
                        <div class="form-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="enter__policy">
                        <a href="javascript:void(0)">Политика безопасности</a>
                        <a href="javascript:void(0)">Пользовательское соглашение</a>
                    </div>
                    <button>Войти</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal modal-view" data-modal="view">
        <div class="modal__close"></div>
        <div class="modal__sliders sliders">
            <div class="sliders__nav">
                <div class="item" style="background-image: url('img/product7.jpg')"></div>
                <div class="item" style="background-image: url('img/product7-2.jpg')"></div>
                <div class="item" style="background-image: url('img/product7-3.jpg')"></div>
                <div class="item" style="background-image: url('img/slide4.jpg')"></div>
                <div class="item" style="background-image: url('img/slide5.jpg')"></div>
                <div class="item" style="background-image: url('img/slide6.jpg')"></div>
            </div>
            <div class="sliders__main">
                <div class="item" style="background-image: url('img/product7.jpg')"></div>
                <div class="item" style="background-image: url('img/product7-2.jpg')"></div>
                <div class="item" style="background-image: url('img/product7-3.jpg')"></div>
                <div class="item" style="background-image: url('img/product4.jpg')"></div>
                <div class="item" style="background-image: url('img/product3.jpg')"></div>
                <div class="item" style="background-image: url('img/product2.jpg')"></div>
            </div>
        </div>
        <div class="modal__info view">
            <div class="modal__scroll">
                <div class="view__top">
                    <div class="view__name">Рубашка из поплина с
                            принтом</div>
                    <div class="view__list">
                        <span>Signature Fit</span>
                        <span>Только Онлайн</span>
                    </div>
                    <div class="view__price">3,851₽</div>
                </div>
                <div class="view__thumbs">
                    <p>Принт в красный и темно-синий цветок</p>
    
                    <div class="view__images">
                        <div class="active" style="background-image: url('img/product1.jpg')"></div>
                        <div style="background-image: url('img/product2.jpg')"></div>
                        <div style="background-image: url('img/product3.jpg')"></div>
                        <div style="background-image: url('img/product4.jpg')"></div>
                        <div style="background-image: url('img/product5.jpg')"></div>
                        <div style="background-image: url('img/product6.jpg')"></div>
                    </div>
                </div>
    
                <div class="view__sizes">
                    <p><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-time"></use></svg> <span>Успей купить! Осталось пару штук</span></p>
    
                    <div class="view__sizes-list">
                        <div class="active">XS</div>
                        <div>S</div>
                        <div>M</div>
                        <div>L</div>
                        <div class="disable">XL</div>
                        <div class="disable">XXL</div>
                    </div>
                </div>
                <p class="sidebar__title sort toggle">Подробнее о товаре</p>
                <div class="toggle__body">
                    <p>Soft and breathable short-sleeve button-up shirt in lightweight cotton featuring classic collar, left chest pocket and logo tag on placket. Imported</p>

                    <p><strong>Model is 6'1" wearing Size M</strong></p>

                    <p>Body Length: 30.2"</p>

                    <p>Material and Care</p>

                    <ul>
                        <li>100% Cotton</li>
                        <li>Machine wash cold, 
                            with like colors</li>
                        <li>Only non-chlorine</li>
                        <li>Tumble dry low</li>
                        <li>Warm iron if needed</li>
                        <li>Do not dry clean</li>
                    </ul>
                </div>
                <a href="javascript:void(0)" class="btn more">Больше информации о товаре</a>
            </div>

            <div class="modal__controls">
                <div class="errors">
                    <span>Выберите размер</span>
                </div>

                <form action="">
                    <div>
                        <select id="quantity">
                            <optgroup label="Кол-во">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </optgroup>
                        </select>
                        <span class="name">Кол-во</span>
                        <span class="count">1</span>
                        <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-down"></use></svg>
                    </div>
                    <button>Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>