<div class="scrolltop"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></div>

<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <img src="img/logo.svg" alt="" width="149" class="footer__logo">

                <div class="footer__brands">
                    <span>Наши бренды</span>
                    <img src="img/logo.svg" width="129" alt="">
                    <img src="img/hoolister.svg" width="67" alt="">
                </div>
            </div>
            <div class="footer__col">
                <p class="footer__title">Компания</p>
                
                <ul>
                    <li><a href="javascript:void(0)">О компании</a></li>
                    <li><a href="javascript:void(0)">Возврат</a></li>
                    <li><a href="javascript:void(0)">Новости</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__col">
                    <p class="footer__title">Помощь</p>
                    
                    <ul>
                        <li><a href="javascript:void(0)">Помощь клиенту</a></li>
                        <li><a href="javascript:void(0)">Помощь с заказами</a></li>
                        <li><a href="javascript:void(0)">Возвраты</a></li>
                        <li><a href="javascript:void(0)">Отслеживание заказа</a></li>
                        <li><a href="javascript:void(0)">Оплата</a></li>
                        <li><a href="javascript:void(0)">Мой аккаунт</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__links">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg> <span>Подарочные карты</span></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg> <span>Наши магазины</span></a>
                </div>
            </div>
            <div class="footer__col">
                <form action="">
                    <p>Подпишитесь на рассылку</p>
                    <div class="form-group">
                        <input type="email" placeholder="Ваш Email для новостей">
                        <button>ОК</button>
                    </div>
                </form>
                <div class="footer__social">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                </div>
            </div>
        </div>

        <div class="footer__row bottom">
            <div class="footer__nav">
                <span>© 2019 Abercrombie.ru</span>
                <a href="javascript:void(0)">Политика конфидециальности</a>
                <a href="javascript:void(0)">Условия пользования сайтом</a>
            </div>

            <span>Создание сайта <a href="javascript:void(0)">MondayStudio.ru</a></span>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>