<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
    <div class="header__top">
        <div class="container">
            <a href="/" class="header__logo"><img src="img/logo-white.png" width="25" alt=""></a>
            <div class="header__top-info">
                <div class="header__special">
                    <span> Скидка до 50% + Бесплатная доставка при заказах свыше 10,000₽</span>
                    <a href="javascript:void(0)">Подробнее</a>
                </div>
                <nav class="header__nav">
                    <a href="javascript:void(0)"><span>Мужчинам</span><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-header"></use></svg></a>
                    <a href="javascript:void(0)"><span>Женщинам</span><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-arrow-header"></use></svg></a>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__left">
                <a href="/" class="header__logo"><img width="202" src="img/logo.svg" alt=""></a>

                <ul class="menu">
                    <li>
                        <a href="item.html"><span>Мужчинам</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="account.html"><span>Новинки</span></a>
                                    <a href="cart.html"><span>Куртки</span></a>
                                    <a href="category.html"><span>Нижнее белье</span></a>
                                    <a href="checkout.html"><span>Футболки</span></a>
                                    <a href="favorite.html"><span>Обувь и аксессуары</span></a>
                                    <a href="search.html"><span>Парфюм</span></a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="category-2.html"><span>SoftAF</span></a>
                                    <a href="help.html"><span>96 Hour Getaway Essentials</span></a>
                                    <a href="item.html"><span>A&F Logo Shop</span></a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="cart.html" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="item.html"><span>Женщинам</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="account.html"><span>Новинки</span></a>
                                    <a href="cart.html"><span>Куртки</span></a>
                                    <a href="category.html"><span>Нижнее белье</span></a>
                                    <a href="checkout.html"><span>Футболки</span></a>
                                    <a href="favorite.html"><span>Обувь и аксессуары</span></a>
                                    <a href="search.html"><span>Парфюм</span></a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="category-2.html"><span>SoftAF</span></a>
                                    <a href="help.html"><span>96 Hour Getaway Essentials</span></a>
                                    <a href="item.html"><span>A&F Logo Shop</span></a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="cart.html" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Духи</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)"><span>Новинки</span></a>
                                    <a href="javascript:void(0)"><span>Куртки</span></a>
                                    <a href="javascript:void(0)"><span>Нижнее белье</span></a>
                                    <a href="javascript:void(0)"><span>Футболки</span></a>
                                    <a href="javascript:void(0)"><span>Обувь и аксессуары</span></a>
                                    <a href="javascript:void(0)"><span>Парфюм</span></a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)"><span>SoftAF</span></a>
                                    <a href="javascript:void(0)"><span>96 Hour Getaway Essentials</span></a>
                                    <a href="javascript:void(0)"><span>A&F Logo Shop</span></a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="header__controls">
                <form action="">
                    <input type="text">
                    <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-search"></use></svg>
                    <span>поиск</span>
                </form>
                <div class="header__links">
                    <a href="javascript:void(0)" data-modal="enter"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-login"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-shop"></use></svg><span class="count">2</span></a>
                    <div class="add-cart">
                        <p>Товар <strong>Рубашка из поплина с принтом</strong> добавлен <br> в корзину.</p>
                        <p>Ваш заказ: <strong>2 товара на сумму 4,880₽</strong></p>
                        <a href="javascript:void(0)" class="btn">Перейти в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>