<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
    <div class="header__top">
        <div class="container">
            <a href="/" class="header__logo"><img src="img/logo-white.png" width="25" alt=""></a>
            <div class="header__top-info">
                <div class="header__special">
                    <span> Скидка до 50% + Бесплатная доставка при заказах свыше 10,000₽</span>
                    <a href="javascript:void(0)">Подробнее</a>
                </div>
                <nav class="header__nav">
                    <a href="javascript:void(0)"><span>Мужчинам</span><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><span>Женщинам</span><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__left">
                <a href="/" class="header__logo"><img width="202" src="img/logo.svg" alt=""></a>

                <ul class="menu">
                    <li>
                        <a href="javascript:void(0)"><span>Мужчинам</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">Новинки</a>
                                    <a href="javascript:void(0)">Куртки</a>
                                    <a href="javascript:void(0)">Нижнее белье</a>
                                    <a href="javascript:void(0)">Футболки</a>
                                    <a href="javascript:void(0)">Обувь и аксессуары</a>
                                    <a href="javascript:void(0)">Парфюм</a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">SoftAF</a>
                                    <a href="javascript:void(0)">96 Hour Getaway Essentials</a>
                                    <a href="javascript:void(0)">A&F Logo Shop</a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Женщинам</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">Новинки</a>
                                    <a href="javascript:void(0)">Куртки</a>
                                    <a href="javascript:void(0)">Нижнее белье</a>
                                    <a href="javascript:void(0)">Футболки</a>
                                    <a href="javascript:void(0)">Обувь и аксессуары</a>
                                    <a href="javascript:void(0)">Парфюм</a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">SoftAF</a>
                                    <a href="javascript:void(0)">96 Hour Getaway Essentials</a>
                                    <a href="javascript:void(0)">A&F Logo Shop</a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Духи</span></a>
                        <div class="dropdown">
                            <div class="dropdown__col">
                                <p class="dropdown__title">Категории</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">Новинки</a>
                                    <a href="javascript:void(0)">Куртки</a>
                                    <a href="javascript:void(0)">Нижнее белье</a>
                                    <a href="javascript:void(0)">Футболки</a>
                                    <a href="javascript:void(0)">Обувь и аксессуары</a>
                                    <a href="javascript:void(0)">Парфюм</a>
                                </nav>
                            </div>
                            <div class="dropdown__col">
                                <p class="dropdown__title">Коллекции</p>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)">SoftAF</a>
                                    <a href="javascript:void(0)">96 Hour Getaway Essentials</a>
                                    <a href="javascript:void(0)">A&F Logo Shop</a>
                                </nav>
                                <nav class="dropdown__nav">
                                    <a href="javascript:void(0)" class="red">Распродажа</a>
                                </nav>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="header__controls">
                <form action="">
                    <input type="text">
                    <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg>
                    <span>поиск</span>
                </form>
                <div class="header__links">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-circle"></use></svg></a>
                </div>
            </div>
        </div>
    </div>
</header>