@charset 'UTF-8';
@import 'mixins';

@include font-face('EBGaramond', '../fonts/EBGaramond-Regular/EBGaramond-Regular', normal); 
@include font-face('NewsGothicBT', '../fonts/NewsGothicBT-Bold/NewsGothicBT-Bold', bold); 
@include font-face('NewsGothicBT', '../fonts/NewsGothicBT-Regular/NewsGothicBT-Regular', normal); 
@include font-face('NewsGothicBTCond', '../fonts/NewsGothicBTCond-Bold/NewsGothicBTCond-Bold', bold); 

$trans: all .2s ease-in-out;
$garamond: 'EBGaramond', sans-serif;
$news: 'NewsGothicBTCond', sans-serif;

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'NewsGothicBT', sans-serif;
	color: #50687b;
	font-size: 14px;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
button:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 1.35px;
	font-family: $news;
	text-align: center;
}

.container {
	max-width: 1583px;
	margin: 0 auto;
}

.header {
	border-bottom: 1px solid #d3d3d3;
	&__top {
		background: #253746;
		color: #fff;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-info {
			display: flex;
			align-items: center;

			nav {
				display: flex;
				align-items: center;
				margin-left: 30px;

				a {
					display: flex;
					align-items: center;
					margin-left: 30px;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 0.55px;

					&:first-child {
						margin-left: 0;
					}

					svg {
						font-size: 4px;
						fill: #fff;
						margin-left: 3px;
						position: relative;
						top: -1px;
					}
				}
			}
		}
	}

	&__special {
		font-size: 11px;
		letter-spacing: 0.77px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__logo {
		background: #374e62;
		padding: 6px 25px;

		img {
			position: relative;
			top: 2px;
		}
	}

	&__main {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.header__logo {
			background: transparent;
			padding: 0 22px;
			
			img {
				top: 0;
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;

		form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 52px;
			position: relative;

			&.active {
				span {
					opacity: 1;
					transform: translateY(0);
					transition: all .3s ease-in-out;
					transition-delay: 300ms;
				}

				input {
					width: 200px;
					opacity: 1;
					transition: width .3s ease-in-out, opacity .3s ease-in-out;
				}
			}

			svg {
				font-size: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 25px;
				cursor: pointer;
			}

			input {
				height: 100%;
				border: 1px solid #253746;
    			color: #253746;
				opacity: 0;
				transition: width .3s ease-in-out;
				padding: 0 15px;
				font-size: 14px;
				padding-top: 20px;
				width: 0;
			}

			span {
				position: absolute;
				left: 15px;
				top: 11px;
				letter-spacing: 0.8px;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				text-transform: uppercase;
				transform: translateY(-10px);
				transition: none;
				font-size: 10px;
			}
		}
	}

	&__links {
		a {
			padding: 16px 14px;
			margin-left: 8px;
			display: inline-block;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			transition: $trans;

			&:hover {
				border-color: #ccc;
			}
		}

		svg {
			font-size: 10px;
			position: relative;
			top: 2px;
		}
	}
}

.menu {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		position: relative;

		&:hover {
			span::after {
				opacity: 1;
				bottom: -5px;
			}

			.dropdown {
				display: flex;
			}
		}

		 & > a {
			 padding: 21px 10px;
			 display: inline-block;
			 text-transform: uppercase;
			 font-size: 13px;
			 letter-spacing: 0.33px;
			 margin-right: 3px;
			 color: #253746;
			 font-weight: bold;
			 
			 span {
				position: relative;

				&::after {
				   content: '';
				   position: absolute;
				   left: 0;
				   bottom: 0;
				   opacity: 0;
				   width: 100%;
				   height: 2px;
				   background-color: #253746;
				   transition: $trans;
				}
			 }
		 }
	}
}

.dropdown {
	display: none;
	position: absolute;
	bottom: 0;
	left: -50px;
	transform: translateY(100%);
	background-color: #f6f6f6;
	padding: 46px 60px;
	align-items: flex-start;
	z-index: 2;

	&.active {
		display: flex;
	}

	&__col {
		margin-right: 124px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.45px;
		margin-bottom: 26px;
	}

	nav {
		display: flex;
		flex-direction: column;

		& + .dropdown__nav {
			margin-top: 52px;
		}

		a {
			margin-bottom: 18px;
			letter-spacing: 0.7px;
			font-size: 14px;
			color: #4c4c4c;
			display: inline-block;
			white-space: nowrap;
			position: relative;

			&:hover span::after {
				opacity: 1 !important;
				bottom: -5px !important;
			}

			span {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 0 !important;
					left: 0;
					width: 100%;
					height: 2px;
					background: #253746;
					opacity: 0 !important;
					transition: $trans;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.red {
				color: #d53941;
			}
		}
	}
}

.main-banner {
	background-color: #d3d3d3;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 88.7vh;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;

	p {
		font-family: $garamond;
		font-size: 72px;
		letter-spacing: 1.8px;
		margin-bottom: 5px;
	}

	span {
		font-size: 20px;
		letter-spacing: 0.5px;
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;

		div {
			display: flex;
			align-items: center;
			margin-top: 25px;
	
			.btn {
				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 15px;
				letter-spacing: 0.38px;
				padding: 13px 49px;
				border: 1px solid #fff;
				margin: 0 5px;
				transition: $trans;

				&:hover {
					color: #253646;
					background-color: #fff;
				}
			}
		}
	}
}

.banner {
	background-color: #ececec;
	height: 250px;
	width: 100%;
}

.products {
	padding: 63px 0;

	h2 {
		margin-bottom: 63px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		&.swiper-container {
			margin: 0 9%;

			.product {
				margin-bottom: 0;
			}
		}

		.swiper-button-next, 
		.swiper-button-prev {
			top: 43%;
		}
	}
}

.product {
	width: 24%;
	margin-bottom: 70px;
	position: relative;

	&__badge {
		position: absolute;
		right: 0;
		top: -22px;
		background-color: #50687b;
		padding: 5px;
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.22px;
	}

	&__img {
		height: 389px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
		position: relative;
		overflow: hidden;

		&:hover {
			.product__cover {
				opacity: 1;
			}

			.product__controls {
				transform: translateY(0);
			}
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		z-index: 3;
		left: 6px;
		right: 6px;
		bottom: 6px;
		transform: translateY(125%);
		transition: $trans;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: hsla(0,0%,0%,.8);
		width: 49%;
		height: 40px;
		transition: $trans;

		&:hover {
			background-color: hsla(0,0%,0%,1);
		}

		svg {
			font-size: 6px;
			margin-right: 5px;
			fill: #fff;
		}

		span {
			font-weight: bold;
			font-size: 12px;
			margin: 0 !important;
			color: #fff !important;
		}
	}

	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
		transition: $trans;
	}

	&__name {
		text-transform: uppercase;
		font-family: $news;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		color: #253746;
		margin-bottom: 5px;
	}

	span {
		color: #253746;
		font-size: 11px;
		letter-spacing: 0.77px;
		display: inline-block;
		margin-bottom: 10px;
	}

	&__price {
		color: #253746;
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.65px;
	}
}

.text {
	padding: 32px 0;

	h2 {
		text-align: left;
		color: #666;
		font-family: $news;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		margin-bottom: 13px;
	}

	p {
		color: #4c4c4c;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.65px;
		margin-bottom: 20px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footer {
	background-color: #f6f6f6;
	color: #50687b;
	margin-top: 43px;
    padding: 57px 0 150px;

	ul {
		list-style-type: none;
		padding: 0;

		li {
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-size: 12px;
				letter-spacing: 0.77px;
				transition: $trans;

				&:hover {
					color: #253746;
				}
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		&.bottom {
			padding-top: 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #d1d1d1;
			margin-top: 94px;

			span {
				font-size: 12px;

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__nav {
		a {
			font-size: 12px;
			text-decoration: underline;
			letter-spacing: 0.77px;
			display: inline-block;
			margin-left: 79px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 15px;
		letter-spacing: 0.75px;
		margin-bottom: 17px;
		color: #253746;
	}

	&__social {
		margin-top: 29px;
		display: flex;
		justify-content: space-between;

		svg {
			font-size: 12px;
		}
	}

	&__brands {
		display: flex;
		flex-direction: column;
		margin-top: 101px;
		border-top: 1px solid #d1d1d1;
		padding-top: 43px;

		span {
			font-size: 12px;
			letter-spacing: 0.84px;
			margin-bottom: 8px;
		}

		img {
			margin-bottom: 17px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	form {
		p {
			font-weight: bold;
			letter-spacing: 0.75px;
		}
		
		.form-froup {
			display: flex;
		}

		input {
			margin: 0;
			border: 1px solid #cdcdcd;
			background: #fff;
			padding: 20px 19px 19px;
			color: #4c4c4c;
			font-size: 12px;
			letter-spacing: 1.2px;
			line-height: 1;
			width: 240px;
		}

		button {
			margin: 0;
			border: 1px solid #253746;
			background: #253746;
			color: #fff;
			font-size: 15px;
			letter-spacing: 0.75px;
			font-weight: bold;
			padding: 20px 39px;
			margin-left: -4px;
			line-height: 1;
			cursor: pointer;
			transition: $trans;

			&:hover {
				background-color: #50687b;
				border-color: #50687b;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			align-items: center;
			margin-bottom: 30px;

			&:hover {
				color: #253746;

				svg {
					fill: #253746;
				}
			}

			span {
				border-bottom: 1px solid; 
			}
		}

		svg {
			font-size: 9px;
			margin-right: 10px;
		}
	}
}

.swiper-button-next, 
.swiper-button-prev {
	background: url('../img/circle.svg') no-repeat center rgba(255,255,255,0.5);
	background-size: 15px;
	width: 40px;
	height: 40px;

	&::after {
		display: none;
	}
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	left: 0;
}

.scrolltop {
	width: 40px;
	height: 40px;
	background: #253746;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 40px;
	bottom: 80px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: $trans;
	display: flex;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		font-size: 6px;
		fill: #fff;
	}
}

.breadcrumbs {
	background-color: #f6f6f6;
	padding: 12px 0;

	.container {
		display: flex;
		align-items: center;
	}

	a {
		margin-left: 6px;
		font-size: 14px;
		display: flex;
		align-items: center;

		&:first-child {
			margin-left: 0;

			&::before {
				display: none;
			}
		}

		&::before {
			content: '';
			margin-right: 6px;
			width: 10px;
			height: 10px;
			background: url('../img/circle.svg') no-repeat center;
			background-size: contain;
			display: block;
		}
	}
}

.sidebar {
	width: 13%;
	display: flex;
	flex-direction: column;
	margin-top: -4px;

	&__sort {
		margin-top: 40px;
		margin-left: -19px;

		.sidebar__links {
			padding-top: 20px !important;
			background: #f6f6f6;
		}

		form {
			background: #f6f6f6;

			&.radio {
				.form-group {
					padding: 20px 0;
					border-bottom: 1px solid #ccc;

					input {
						display: none;

						&:checked + label::after {
							opacity: 1;
						}
					}

					label {
						position: relative;
						font-size: 13px;
						font-weight: bold;
						letter-spacing: 0.39px;
						padding-left: 60px;
						color: #374e62;
						cursor: pointer;

						&:hover::after {
							opacity: 0.5;
						}

						&::before {
							content :'';
							position: absolute;
							left: 19px;
							top: 50%;
							transform: translateY(-50%);
							width: 25px;
							height: 25px;
							border-radius: 50%;
							border: 1px solid #253746;
							background: #fff;
						}

						&::after {
							content :'';
							position: absolute;
							left: 27px;
							top: 50%;
							transform: translateY(-50%);
							width: 11px;
							height: 11px;
							border-radius: 50%;
							background: #253746;
							opacity: 0;
							transition: $trans;
						}
					}
				}
			}
		}

		.sort__more {
			display: inline-block;
			padding: 18px 40px 20px 20px;
			color: #374e62;
			background: #f6f6f6;
			width: 100%;
			font-size: 13px;
			text-decoration: underline;
		}
	}

	a {
		margin-bottom: 21px;
		letter-spacing: 0.78px;
		font-size: 13px;
	}

	&__name {
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.8px;
		margin-bottom: 25px;
	}

	&__links {
		padding-left: 0;
		margin-top: 21px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 13px;

		&.toggle {
			cursor: pointer;
			position: relative;
			margin-bottom: 18px;
			letter-spacing: 0.78px;
	
			&::before,
			&::after {
				@include r(1279) {
					top: 7px;
				}
	
				content: '';
				position: absolute;
				top: 6px;
				background: #9b9b9b;
				height: 10px;
				width: 1px;
				transition: $trans;
			}
	
			&::before {
				right: 24px;
				transform: rotate(-45deg);
			}
	
			&::after {
				right: 17px;
				transform: rotate(45deg);
			}
	
			&.active {
				font-weight: bold;

				&::before {
					transform: rotate(45deg);
				}
	
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.toggle {
	&.sort {
		padding: 18px 40px 20px 20px;
		color: #374e62;
		background: #f6f6f6;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 0;

		&.second {
			margin-top: 18px;
		}

		&::before,
		&::after {
			top: 19px;
			width: 2px;
			height: 14px;
			background: #374e62;
		}

		&::before {
			transform: rotate(0);
			right: 17px;
		}

		&::after {
			transform: rotate(90deg);
		}
	}

	&__body {
		display: none;

		&.active {
			display: block;
			padding-bottom: 9px;
		}

		.sidebar__links {
			margin-top: 0;
			padding-left: 24px;
	
			a {
				margin-bottom: 19px;
			}
		}
	}
}

.main {
	padding: 28px 0;

	&__title {
		font-weight: bold;
		letter-spacing: 0.45px;
	}

	&-sidebar {
		.main__body {
			width: 85%;
		}
	}
	
	&__body {
		width: 100%;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}