@charset 'UTF-8';
@import 'mixins';

@include font-face('EBGaramond', '../fonts/EBGaramond-Regular/EBGaramond-Regular', normal); 
@include font-face('NewsGothicBT', '../fonts/NewsGothicBT-Bold/NewsGothicBT-Bold', bold); 
@include font-face('NewsGothicBT', '../fonts/NewsGothicBT-Regular/NewsGothicBT-Regular', normal); 
@include font-face('NewsGothicBTCond', '../fonts/NewsGothicBTCond-Bold/NewsGothicBTCond-Bold', bold); 

$trans: all .2s ease-in-out;
$garamond: 'EBGaramond', sans-serif;
$news: 'NewsGothicBTCond', sans-serif;
$dark: #253746;
$light: #50687b;

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'NewsGothicBT', sans-serif;
	color: $light;
	font-size: 14px;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
button:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 1.35px;
	font-family: $news;
	text-align: center;
}

.container {
	@include r(1600) {
		padding: 0 20px;
	}

	max-width: 1583px;
	margin: 0 auto;
}

.header {
	border-bottom: 1px solid #d3d3d3;

	.container {
		position: relative;	
	}
	
	&__top {
		background: $dark;
		color: #fff;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-info {
			display: flex;
			align-items: center;

			nav {
				display: flex;
				align-items: center;
				margin-left: 30px;

				a {
					display: flex;
					align-items: center;
					margin-left: 30px;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 0.55px;

					&:first-child {
						margin-left: 0;
					}

					svg {
						font-size: 4px;
						fill: #fff;
						margin-left: 3px;
						position: relative;
						top: -1px;
					}
				}
			}
		}
	}

	&__special {
		@include r(1023) {
			display: none;
		}

		font-size: 11px;
		letter-spacing: 0.77px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__logo {
		background: #374e62;
		padding: 6px 25px;

		img {
			position: relative;
			top: 2px;
		}
	}

	&__main {
		.container {
			@include r(767) {
				padding-bottom: 30px;
			}

			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.header__logo {
			@include r(1279) {
				padding-left: 0;
			}

			background: transparent;
			padding: 0 22px;
			
			img {
				@include r(767) {
					width: 140px;
				}

				top: 0;
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;

		form {
			@include r(767) {
				position: static;
			}

			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 52px;
			position: relative;

			&.active {
				span {
					opacity: 1;
					transform: translateY(0);
					transition: all .3s ease-in-out;
					transition-delay: 300ms;
				}

				input {
					width: 200px;
					opacity: 1;
					transition: width .3s ease-in-out, opacity .3s ease-in-out;
				}
			}

			svg {
				@include r(767) {
					top: 25px;
				}

				font-size: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 25px;
				cursor: pointer;
			}

			input {
				@include r(767) {
					position: absolute;
					right: 0;
					bottom: 0;
					height: 50px;
					transform: translateY(100%);
					background: #fff;
					z-index: 1;
					padding: 5px 15px;
				}

				height: 100%;
				border: 1px solid $dark;
    			color: $dark;
				opacity: 0;
				transition: width .3s ease-in-out;
				padding: 0 15px;
				font-size: 14px;
				padding-top: 20px;
				width: 0;
			}

			span {
				position: absolute;
				left: 15px;
				top: 11px;
				letter-spacing: 0.8px;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				text-transform: uppercase;
				transform: translateY(-10px);
				transition: none;
				font-size: 10px;
			}
		}
	}

	&__links {
		@include r(767) {
			margin-right: 43px;
		}

		a {
			@include r(767) {
				padding: 0;
				margin-left: 10px;
			}

			padding: 16px 14px;
			margin-left: 8px;
			display: inline-block;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			transition: $trans;
			position: relative;

			&:hover {
				border-color: #ccc;
			}
		}

		.count {
			@include r(767) {
				top: -6px;
    			right: -9px;
			}

			display: flex;
			align-items: center;
			background-color: #c00;
			border-radius: 10px;
			border: 1px solid #fff;
			color: #fff;
			font-size: 1.1rem;
			height: 20px;
			justify-content: center;
			letter-spacing: 0;
			width: 20px;
			font-size: 12px;
			position: absolute;
			top: 12px;
			right: 4px;
			font-weight: bold;
		}

		svg {
			font-size: 10px;
			position: relative;
			top: 2px;
		}
	}
}

.add-cart {
	position: absolute;
	right: 0;
	bottom: -1px;
	transform: translateY(100%);
	background: #fff;
	padding: 32px 36px;
	display: none;
	z-index: 3;

	&.active {
		display: block;
	}

	p {
		font-size: 13px;
		letter-spacing: 0.65px;
		margin-bottom: 25px;

		strong {
			text-transform: initial;
		}

		&:first-child {
			margin-bottom: 30px;

			strong {
				text-transform: uppercase;
				font-family: $news;
			}
		}
	}

	.btn {
		background: #00782e;
		color: #fff;
		width: 100%;
		height: 50px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		font-weight: 700;
		border: 0;
		transition: all .2s ease-in-out;
		cursor: pointer;

		&:hover {
			background: #005e24;
		}
	}
}

.menu {
	@include r(767) {
		position: absolute;
		left: 11px;
		bottom: -5px;
	}

	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		position: relative;

		&:hover {
			span::after {
				opacity: 1;
				bottom: -5px;
			}

			.dropdown {
				display: flex;
			}
		}

		 & > a {
			 padding: 21px 10px;
			 display: inline-block;
			 text-transform: uppercase;
			 font-size: 13px;
			 letter-spacing: 0.33px;
			 margin-right: 3px;
			 color: $dark;
			 font-weight: bold;
			 
			 span {
				position: relative;

				&::after {
				   content: '';
				   position: absolute;
				   left: 0;
				   bottom: 0;
				   opacity: 0;
				   width: 100%;
				   height: 2px;
				   background-color: $dark;
				   transition: $trans;
				}
			 }
		 }
	}
}

.dropdown {
	@include r(1023) {
		display: none !important; 
	}

	display: none;
	position: absolute;
	bottom: -1px;
	left: -50px;
	transform: translateY(100%);
	background-color: #f6f6f6;
	padding: 46px 60px;
	align-items: flex-start;
	z-index: 2;

	&.active {
		display: flex;
	}

	&__col {
		margin-right: 124px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.45px;
		margin-bottom: 26px;
	}

	nav {
		display: flex;
		flex-direction: column;

		& + .dropdown__nav {
			margin-top: 52px;
		}

		a {
			margin-bottom: 18px;
			letter-spacing: 0.7px;
			font-size: 14px;
			color: #4c4c4c;
			display: inline-block;
			white-space: nowrap;
			position: relative;

			&:hover span::after {
				opacity: 1 !important;
				bottom: -5px !important;
			}

			span {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 0 !important;
					left: 0;
					width: 100%;
					height: 2px;
					background: $dark;
					opacity: 0 !important;
					transition: $trans;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.red {
				color: #d53941;
			}
		}
	}
}

.main-banner {
	@include r(767) {
		padding: 0 20px;
	}

	background-color: #d3d3d3;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 88.7vh;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;

	p {
		@include r(767) {
			font-size: 36px;
		}
		
		font-family: $garamond;
		font-size: 72px;
		letter-spacing: 1.8px;
		margin-bottom: 5px;
	}

	span {
		@include r(767) {
			font-size: 14px;
		}

		font-size: 20px;
		letter-spacing: 0.5px;
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;

		div {
			display: flex;
			align-items: center;
			margin-top: 25px;
	
			.btn {
				@include r(767) {
					font-size: 13px;
					padding: 13px 29px;
				}

				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 15px;
				letter-spacing: 0.38px;
				padding: 13px 49px;
				border: 1px solid #fff;
				margin: 0 5px;
				transition: $trans;

				&:hover {
					color: #253646;
					background-color: #fff;
				}
			}
		}
	}
}

.banner {
	background-color: #ececec;
	height: 250px;
	width: 100%;
}

.products {
	padding: 63px 0;

	h2 {
		margin-bottom: 63px;
	}

	&.gray {
		background: #f6f6f6;
	}

	&.no-padding {
		.product__name {
			font-size: 13px;
			letter-spacing: 0.65px;
		}

		.product {
			padding: 0 !important;
			margin: 0 !important;
			text-align: center;
		}

		.slick-next {
			right: 0 !important;
		}

		.slick-prev {
			left: 0 !important;
		}
	}

	&__list {
		@include r(1279) {
			margin-left: -0.6%;
			margin-right: -0.6%;
		}

		@include r(1023) {
			margin-left: -1%;
			margin-right: -1%;
		}

		display: flex;
		flex-wrap: wrap;
		margin-left: -0.5%;
		margin-right: -0.5%;
		
		&.slider {
			@include r(1279) {
				margin: 0;
			}

			margin: 0 9%;

			.slick-arrow {
				top: 40%;
			}

			.slick-next {
				right: 9px;
			}

			.slick-prev {
				left: 9px;
			}

			.product {
				padding: 0 10px 0;
				margin: 0;
			}
		}
	}
}

.product {
	@include r(1279) {
		width: 24.1vw;
		margin: 0 0.6% 70px;
		margin: 0 1% 70px;
	}

	@include r(1023) {
		width: 48%;
	}

	@include r(767) {
		margin-bottom: 30px;
	}

	width: 24%;
	margin: 0 0.5% 70px;
	position: relative;

	&__like {
		position: absolute;
		bottom: 10px;
		left: 10px;
		font-size: 10px;
		z-index: 2;
		fill: $dark;
	}

	&__badge {
		position: absolute;
		right: 0;
		top: -22px;
		background-color: $light;
		padding: 5px;
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.22px;
	}

	&__img {
		@include r(1366) {
			height: 315px;
		}

		@include r(767) {
			height: 111vw;
		}

		height: 389px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
		position: relative;
		overflow: hidden;

		&:focus {
			outline: none;
		}

		&:hover {
			.product__cover {
				@include r(1023) {
					display: none !important;
				}
				
				opacity: 1;
			}

			.product__controls {
				@include r(1023) {
					display: none !important;
				}

				transform: translateY(0);

				&.vertical {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		z-index: 3;
		left: 6px;
		right: 6px;
		bottom: 6px;
		transform: translateY(125%);
		transition: $trans;

		&.vertical {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: none;
			flex-direction: column;
			justify-content: center;
			background: rgba(0,0,0,0.3);
			opacity: 0;
			pointer-events: none;

			div {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: hsla(0,0%,0%,.8);
		width: 49%;
		height: 40px;
		transition: $trans;

		&:hover {
			background-color: hsla(0,0%,0%,1);
		}

		svg {
			font-size: 8px;
			margin-right: 5px;
			fill: #fff;
		}

		span {
			font-weight: bold;
			font-size: 12px;
			margin: 0 !important;
			color: #fff !important;
		}
	}

	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
		transition: $trans;
	}

	&__name {
		text-transform: uppercase;
		font-family: $news;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		color: $dark;
		margin-bottom: 5px;
	}

	span {
		color: $dark;
		font-size: 11px;
		letter-spacing: 0.77px;
		display: inline-block;
		margin-bottom: 10px;
	}

	&__price {
		color: $dark;
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.65px;

		.old {
			display: inline-block;
			text-decoration: line-through;
			margin-right: 10px;
		}

		.new {
			display: inline-block;
			color: #cc030e;
		}
	}
}

.text {
	padding: 32px 0;

	h2 {
		text-align: left;
		color: #666;
		font-family: $news;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		margin-bottom: 13px;
	}

	p {
		color: #4c4c4c;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.65px;
		margin-bottom: 20px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footer {
	@include r(1023) {
		padding-bottom: 50px;
	}

	background-color: #f6f6f6;
	color: $light;
	margin-top: 43px;
    padding: 57px 0 150px;

	ul {
		list-style-type: none;
		padding: 0;

		li {
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-size: 12px;
				letter-spacing: 0.77px;
				transition: $trans;

				&:hover {
					color: $dark;
				}
			}
		}
	}

	&__col {
		@include r(767) {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&__row {
		@include r(1023) {
			flex-wrap: wrap;
		}

		display: flex;
		justify-content: space-between;

		&.bottom {
			@include r(767) {
				margin-top: 0;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				text-align: left;
			}

			padding-top: 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #d1d1d1;
			margin-top: 94px;

			span {
				@include r(767) {
					margin: 5px 0;
				}

				font-size: 12px;

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__nav {
		@include r(767) {
			display: flex;
			flex-direction: column;
		}

		a {
			@include r(767) {
				margin: 5px 0;
			}

			font-size: 12px;
			text-decoration: underline;
			letter-spacing: 0.77px;
			display: inline-block;
			margin-left: 79px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 15px;
		letter-spacing: 0.75px;
		margin-bottom: 17px;
		color: $dark;
	}

	&__social {
		margin-top: 29px;
		display: flex;
		justify-content: space-between;

		svg {
			font-size: 12px;
			fill: $dark;
		}
	}

	&__brands {
		@include r(767) {
			margin-top: 15px;
			padding-top: 20px;
		}

		display: flex;
		flex-direction: column;
		margin-top: 101px;
		border-top: 1px solid #d1d1d1;
		padding-top: 43px;

		span {
			font-size: 12px;
			letter-spacing: 0.84px;
			margin-bottom: 8px;
		}

		img {
			margin-bottom: 17px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	form {
		@include r(1023) {
			margin-top: 40px;
		}

		@include r(767) {
			margin-top: 0;
		}

		p {
			font-weight: bold;
			letter-spacing: 0.75px;
		}
		
		.form-froup {
			display: flex;
		}

		input {
			@include r(767) {
				width: 68%;
			}

			margin: 0;
			border: 1px solid #cdcdcd;
			background: #fff;
			padding: 20px 19px 19px;
			color: #4c4c4c;
			font-size: 12px;
			letter-spacing: 1.2px;
			line-height: 1;
			width: 240px;
		}

		button {
			margin: 0;
			border: 1px solid $dark;
			background: $dark;
			color: #fff;
			font-size: 15px;
			letter-spacing: 0.75px;
			font-weight: bold;
			padding: 20px 39px;
			margin-left: -4px;
			line-height: 1;
			cursor: pointer;
			transition: $trans;

			&:hover {
				background-color: $light;
				border-color: $light;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			align-items: center;
			margin-bottom: 30px;

			&:hover {
				color: $dark;

				svg {
					fill: $dark;
				}
			}

			span {
				border-bottom: 1px solid; 
			}
		}

		svg {
			font-size: 9px;
			margin-right: 10px;
		}
	}
}

.slick-arrow {
	width: 40px;
	height: 40px;
	color: transparent;
	border: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;

	&::after {
		display: none;
	}
}

.slick-next {
	background: url('../img/arrow-right.svg') no-repeat center rgba(255,255,255,0.5);
	background-size: 15px;
	right: -1px;
}

.slick-prev {
	background: url('../img/arrow-left.svg') no-repeat center rgba(255,255,255,0.5);
	background-size: 15px;
	left: 0;
}

.slick-slide:focus {
	outline: none;
}

.scrolltop {
	width: 40px;
	height: 40px;
	background: $dark;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 40px;
	bottom: 80px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: $trans;
	display: flex;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		font-size: 8px;
		fill: #fff;
	}
}

.breadcrumbs {
	background-color: #f6f6f6;
	padding: 12px 0;

	.container {
		display: flex;
		align-items: center;
	}

	a {
		margin-left: 6px;
		font-size: 14px;
		display: flex;
		align-items: center;

		&:first-child {
			margin-left: 0;

			&::before {
				display: none;
			}
		}

		&::before {
			content: '';
			margin-right: 6px;
			width: 10px;
			height: 10px;
			background: url('../img/arrow-right.svg') no-repeat center;
			background-size: contain;
			display: block;
		}
	}
}

.sidebar {
	@include r(1279) {
		width: 20%;
		margin-right: 20px;
	}

	@include r(1023) {
		width: 30%;
		margin-right: 20px;
	}

	@include r(767) {
		width: 100%;
		display: none;
	}

	width: 13%;
	display: flex;
	flex-direction: column;
	margin-top: -4px;

	&__sort {
		margin-top: 40px;
		margin-left: -19px;

		.sidebar__links {
			padding-top: 20px !important;
			background: #f6f6f6;
		}

		form {
			background: #f6f6f6;
			padding: 0 20px 30px;

			&.checkbox {
				display: flex;
				flex-wrap: wrap;
				
				&.long {
					.form-group {
						width: 100%;
					}

					label {
						width: 100% !important;
					}
				}
				
				.form-group {
					position: relative;
					display: block;

					input {
						display: none;

						&:checked + label {
							background: $light;
							color: #fff;
							border-color: $light;
						}
					}

					label {
						border: 1px solid #cccccc;
						background: #fff;
						width: 61px;
						height: 38px;
						display: block;
						margin-right: -1px;
						margin-bottom: -1px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 12px;
						text-transform: uppercase;
						transition: $trans;
						cursor: pointer;

						&:hover {
							background: $light;
							color: #fff;
							border-color: $light;
						}
					}
				}
			}
		}

		.sort__more {
			display: inline-block;
			padding: 18px 40px 20px 20px;
			color: #374e62;
			background: #f6f6f6;
			width: 100%;
			font-size: 13px;
			text-decoration: underline;
		}
	}

	a {
		margin-bottom: 21px;
		letter-spacing: 0.78px;
		font-size: 13px;
	}

	&__name {
		@include r(1279) {
			font-size: 16px;
		}

		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.8px;
		margin-bottom: 25px;
		color: $dark;

		& + .sidebar__links {
			margin-top: 0;
		}
	}

	&__links {
		padding-left: 0;
		margin-top: 21px;
		display: flex;
		flex-direction: column;

		a.active {
			color: $dark;
			font-weight: bold;
		}
	}

	&__title {
		font-size: 13px;

		&.toggle {
			cursor: pointer;
			position: relative;
			margin-bottom: 18px;
			letter-spacing: 0.78px;
	
			&::before,
			&::after {
				@include r(1279) {
					top: 7px;
				}
	
				content: '';
				position: absolute;
				top: 6px;
				background: #9b9b9b;
				height: 10px;
				width: 1px;
				transition: $trans;
			}
	
			&::before {
				right: 24px;
				transform: rotate(-45deg);
			}
	
			&::after {
				right: 17px;
				transform: rotate(45deg);
			}
	
			&.active {
				font-weight: bold;
				color: $dark;				

				&::before {
					transform: rotate(45deg);
				}
	
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.radio {
	.form-group {
		padding: 20px 0;
		border-bottom: 1px solid #ccc;

		input {
			display: none;

			&:checked + label::after {
				opacity: 1;
			}
		}

		label {
			position: relative;
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 0.39px;
			padding-left: 35px;
			color: #374e62;
			cursor: pointer;

			&:hover::after {
				opacity: 0.5;
			}

			&::before {
				content :'';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 1px solid $dark;
				background: #fff;
			}

			&::after {
				content :'';
				position: absolute;
				left: 8px;
				top: 50%;
				transform: translateY(-50%);
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background: $dark;
				opacity: 0;
				transition: $trans;
			}
		}
	}
	}

.toggle {
	&.sort {
		padding: 18px 40px 20px 20px;
		color: #374e62;
		background: #f6f6f6;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 0;

		&.second {
			margin-top: 18px;
		}

		&::before,
		&::after {
			top: 19px;
			width: 2px;
			height: 14px;
			background: #374e62;
		}

		&::before {
			transform: rotate(0);
			right: 17px;
		}

		&::after {
			transform: rotate(90deg);
		}

		& + .toggle__body {
			padding-bottom: 0;
		}
	}

	&__body {
		display: none;

		&.active {
			display: block;
			padding-bottom: 9px;
		}

		.sidebar__links {
			margin-top: 0;
			padding-left: 24px;
	
			a {
				margin-bottom: 19px;
				font-size: 13px;
			}
		}
	}
}

.main {
	@include r(767) {
		.product__img {
			height: 54vw;
		}
	}

	padding: 28px 0;

	&__title {
		font-weight: bold;
		letter-spacing: 0.45px;
	}

	&-sidebar {
		.main__body {
			@include r(767) {
				width: 100%;
			}

			width: 85%;
		}
	}
	
	&__body {
		width: 100%;
	}

	&__banner {
		margin-bottom: 40px;
	}

	.container {
		@include r(767) {
			display: block;
		}

		display: flex;
		justify-content: space-between;
	}
}

.filters-btn {
	@include r(767) {
		display: inline-block;
	}

	display: none;
	padding: 5px 15px;
	border: 1px solid;
	border-radius: 3px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.modals {
  position: fixed;
  z-index: 13;
  background: rgba(#000, .6);
  opacity: .8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $trans;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal {
  @include r(1440) {
    max-width: 75vw;
    max-height: 89vh;
  }

  @include r(1279) {
    max-width: 95vw;
  }

  @include r(767) {
    padding: 35px 20px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
  }

  background: #fff;
  position: relative;
  user-select: auto;
  max-width: 64vw;
  max-height: 78vh;
  overflow: auto;
  z-index: -10;
  opacity: 0;
  display: none;

  &.active {
    @include r(767) {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }

    z-index: 1;
    opacity: 1;
    display: block !important;
  }

  &__info {
	display: flex;
    flex-direction: column;
  }

  &__close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 15px;
		height: 2px;
		width: 100%;
		background: $light;
		transition: $trans;
	}

	&::before {
		transform: rotate(-45deg);
	}

	&::after {
		transform: rotate(45deg);
	}
  }
}

.modal-view {
	width: 980px;
	max-height: 583px;
	
	&.active {
		@include r(1023) {
			display: none !important;
		}

		display: flex !important;
	}
}

.reset {
	@include r(767) {
		padding: 0;
		min-width: auto;
	}

	min-width: 576px;
	padding: 38px;
	text-align: center;

	svg {
		fill: $dark;
	}

	p {
		font-family: $news;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 1.35px;
		color: $dark;
		margin-bottom: 0;
	}

	span {
		@include r(767) {
			br {
				display: none;
			}
		}
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.65px;
		display: inline-block;
		margin-bottom: 27px;
	}

	.checkout__input {
		margin-bottom: 30px;
	}

	.enter__policy {
		padding-top: 0;
		border: 0;
		margin-top: 0;
	}

	button {
		align-items: center;
		border: 0;
		border-radius: 0;
		cursor: pointer;
		display: flex;
		font-size: 15px;
		justify-content: center;
		letter-spacing: .1rem;
		line-height: 1.2;
		min-height: 50px;
		padding: 0 15px;
		text-align: center;
		text-transform: capitalize;
		width: 100%;
		transition: background-color .4s,border-color .4s,color .4s;
		background-color: #253746;
		pointer-events: none;
		color: #fff;
		opacity: .5;

		&.active {
			background-color: #253746;
			opacity: 1;
		}

		&:hover {
			background-color: #50687b;
    		color: #fff;
		}
	}
}

.enter {
	@include r(767) {
		min-width: auto;
		padding: 0;
	}

	min-width: 576px;
	padding: 38px;

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__nav {
		display: flex;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;

		a {
			width: 50%;
			padding: 19px 0;
			text-align: center;
			letter-spacing: 0.75px;
			position: relative;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 0.75px;

			&:hover::after {
				opacity: 1;
			}
			
			&.active {
				color: $dark;

				&::after {
					height: 3px;
					opacity: 1;
					bottom: -2px;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 1px;
				background: $dark;
				opacity: 0;
			}
		}
	}

	&__lost {
		display: inline-block;
		border-bottom: 1px solid;
		font-size: 13px;
		letter-spacing: 0.65px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		transition: $trans;

		&:hover {
			color: $dark;
		}
	}

	.checkout__input {
		margin-bottom: 20px;
	}

	&__policy {
		border-top: 1px solid #ccc;
		margin-top: 35px;
		display: flex;
		justify-content: center;
		padding-top: 35px;
		margin-bottom: 25px;

		a {
			font-size: 11px;
			border-bottom: 1px solid;
			letter-spacing: 0.55px;
			transition: $trans;
			margin: 0 3px;

			&:hover {
				color: $dark;
			}
		}
	}

	button {
		align-items: center;
		border: 0;
		border-radius: 0;
		cursor: pointer;
		display: flex;
		font-size: 15px;
		justify-content: center;
		letter-spacing: .1rem;
		line-height: 1.2;
		min-height: 50px;
		padding: 0 15px;
		text-align: center;
		text-transform: capitalize;
		width: 100%;
		transition: background-color .4s,border-color .4s,color .4s;
		background-color: #00782e;
		color: #fff;

		&:hover {
			background-color: #005e24;
			color: #fff;
		}

		&:active {
			background-color: #00451a;
			color: #fff;
			transition: none;
		}
	}
}

.sliders {
	@include r(767) {
		display: block;
		overflow: hidden;
	}

	display: flex;

	&__nav {
		@include r(767) {
			width: 100%;
			height: auto;

			.slick-list {
				padding: 0 !important;
			}

			.slick-track {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		padding: 10px;
		width: 80px;

		.item {
			width: 60px;
			height: 75px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			margin-bottom: 10px;
			border: 2px solid transparent;
			transition: $trans;

			&:hover {
				border: 2px solid rgba(37,55,70,.5);
			}

			&.slick-current {
				border: 2px solid $dark;
			}
		}
	}

	&__main {
		width: 480px;
		height: 100%;

		div {
			@include r(767) {
				width: 100% !important;
			}

			width: 100%;
			height: 100%;
		}

		.item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.view {
	&__links {
		display: flex;
		align-items: center;
		margin-top: 20px;

		a {
			font-size: 13px;
			display: flex;
			margin-right: 20px;
			align-items: center;
			transition: $trans;

			&:hover {
				color: $dark;

				svg {
					fill: $dark;
				}
			}

			span {
				border-bottom: 1px solid;
			}
		}

		svg {
			font-size: 8px;
			margin-right: 10px;
			transition: $trans;
		}
	}

	.sidebar__title {
		background: transparent;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 1px solid #ccc;
  
		&::before,
		&::after {
			right: 5px;
		}
	}
  
	.toggle__body {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
  
		ul {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding-left: 15px;
			justify-content: space-between;
  
			li {
				width: 48%;
				margin-bottom: 10px;
			}
		}
	}
  
	  .sliders {
		  width: 60%;
	  }
  
	  .modal__info {
		  width: 45%;
		  display: flex;
		  flex-direction: column;
	  }
  
	  .modal__scroll {
		  padding: 25px 29px 18px;
		  height: 100%;
		  overflow: auto;
	  }
  
	  .modal__controls {
		  height: 150px;
		  box-shadow: 0 0 14px 0 hsla(0,2%,79%,.45);
		  padding: 20px;
		  flex-shrink: 0;
  
		  .errors {
			  width: 100%;
			  margin-bottom: 15px;
  
			  span {
				  background-color: #c00;
				  color: #fff;
				  padding: 10px 20px;
				  font-weight: bold;
				  width: 100%;
				  display: block;
			  }
		  }
  
		  form {
			  display: flex;
			  align-items: center;
  
			  div {
				  position: relative;
				  flex-shrink: 0;
				  margin-right: 10px;
				  width: 98px;
				  height: 60px;
				  border: 1px solid #ccc;
  
				  select {
					  appearance: none;
					  position: absolute;
					  top: 0;
					  right: 0;
					  bottom: 0;
					  left: 0;
					  width: 100%;
					  height: 100%;
					  color: transparent;
					  opacity: 0;
					  cursor: pointer;
  
					  option,
					  optgroup {
						  color: $light;
					  }
				  }
  
				  .name {
					  font-size: 11px;
					  letter-spacing: 0.55px;
					  position: absolute;
					  top: 15px;
					  left: 10px;
					  pointer-events: none;
				  }
  
				  .count {
					  position: absolute;
					  left: 10px;
					  bottom: 10px;
					  font-size: 13px;
					  pointer-events: none;
				  }
  
				  .icon {
					  font-size: 10px;
					  position: absolute;
					  right: 17px;
					  bottom: 10px;
					  fill: $light;
					  pointer-events: none;
				  }
			  }
  
			  button {
				  background: #00782e;
				  color: #fff;
				  width: 100%;
				  height: 60px;
				  text-align: center;
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  font-size: 15px;
				  font-weight: bold;
				  border: 0;
				  transition: $trans;
				  cursor: pointer;
  
				  &:hover {
					  background: #005e24;
				  }
  
				  &.active {
					  background: $dark;
				  }
  
				  svg {
					  font-size: 9px;
					  margin-right: 10px;
					  fill: #fff;
				  }
			  }
		  }
	  }
  
	  .more {
		  color: $dark;
		  border: 1px solid $dark;
		  width: 100%;
		  padding: 15px 0;
		  display: inline-block;
		  text-align: center;
		  margin-top: 20px;
		  font-weight: bold;
		  transition: $trans;
  
		  &:hover {
			  background-color: $light;
			  color: #fff;
			  border-color: $light;
		  }
	  }
  
	&__name {
		text-transform: uppercase;
		font-family: $news;
		font-size: 27px;
		font-weight: bold;
		line-height: 32px;
		letter-spacing: 1.08px;
		padding-right: 40px;
	}
	&__top {
		border-bottom: 1px solid #ccc;
		padding-bottom: 7px;
	}

	&__list {
		display: flex;
		flex-direction: column;

		span {
			font-size: 12px;
			letter-spacing: 0.77px;
			display: inline-block;
			margin-bottom: 5px;
		}
	}

	&__price {
		font-size: 15px;
		letter-spacing: 0.75px;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 5px;
	}

	&__thumbs {
		padding-top: 23px;

		p {
			font-size: 13px;
			letter-spacing: 0.65px;
		}
	}

	&__images {
		display: flex;
		padding-left: 5px;
		
		div {
			width: 34px;
			height: 34px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 50%;
			margin-right: 15px;
			position: relative;
			cursor: pointer;

			&.active::before {
				border-color: $light;
			}

			&::before {
				content: '';
				position: absolute;
				top: -4px;
				right: -4px;
				left: -4px;
				bottom: -4px;
				border-radius: 50%;
				transform-origin: 50% 50%;
				border: 2px solid #ccc;
				transition: $trans;
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	&__sizes {
		margin-top: 24px;
		padding-bottom: 30px;
		border-bottom: 1px solid #ccc;

		p {
			display: flex;
			align-items: center;
			font-size: 13px;
			letter-spacing: 0.65px;
			margin-bottom: 18px;
			font-weight: bold;

			svg {
				font-size: 9px;
				margin-right: 10px;
			}
		}

		&-list {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			& + .view__sizes-name {
				margin-top: 20px;
			}

			div {
				border: 1px solid $dark;
				color: $dark;
				cursor: pointer;
				height: 40px;
				width: 55px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: -1px;
				margin-bottom: -1px;
				font-size: 12px;
				text-transform: uppercase;
				transition: $trans;
				line-height: 1;

				&.active {
					background: $dark;
    				color: #fff;
				}

				&.disable {
					position: relative;
					pointer-events: none;
					color: #ccc;

					&::after {
						content: '';
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						background: linear-gradient(to top right,transparent 0,transparent 48%,#ccc 50%,transparent 52%,transparent);
					}
				}

				&:hover {
					background-color: $light;
					border-color: $light;
					color: #fff;
				}
			}
		}

		&-name {
			font-weight: bold;
			display: inline-block;
			margin-bottom: 5px;
			font-size: 13px;
			letter-spacing: 0.65px;
		}
	}
}

section.item {
	padding-top: 30px;
	padding-bottom: 100px;
	
	.container {
		@include r(1023) {
			flex-wrap: wrap;
		}

		display: flex;
		justify-content: center;
	}

	.view .modal__scroll {
		@include r(767) {
			padding: 0;
		}

		height: auto;
		padding-top: 0;
	}

	.modal__info {
		@include r(1023) {
			width: 100%;
			margin-top: 30px;
		}

		width: 400px;
	}

	.view .modal__controls {
		@include r(767) {
			padding: 20px 0 0;
		}

		padding: 5px 29px 18px;
		box-shadow: none;

		.desc {
			font-size: 13px;
			margin-bottom: 20px;
			display: inline-block;
			letter-spacing: 0.65px;
		}
	}

	.sliders__nav {
		@include r(767) {
			width: 100%;
			margin-bottom: 10px;
		}

		padding-top: 0;
		margin-right: 10px;
		width: 100px;

		.item {
			@include r(767) {
				width: 25vw;
				height: 31vw;
				margin: 0 5px 5px;
			}

			width: 80px;
			height: 100px;
		}
	}

	.sliders__main {
		@include r(767) {
			width: 100%;
			height: 111vw;
			margin: 0;
		}

		width: 500px;
	}
}

.description {
	@include r(767) {
		padding-left: 0;
		padding-right: 0;
	}

	background: #f6f6f6;
	overflow: hidden;
	padding: 48px 0 48px 30px;

	.container {
		@include r(767) {
			display: block;
		}

		display: flex;
		align-items: flex-start;
	}


	&__bottom {
		border-top: 1px solid #ccc;
		padding-top: 20px;
		margin-top: 60px;

		span {
			font-size: 12px;
			letter-spacing: 0.77px;
		}
	}

	img {
		@include r(767) {
			width: 100%;
			margin: 0;
		}

		width: 381px;
		margin-right: 30px;
	}

	&__info {
		@include r(767) {
			padding: 0;
			margin-top: 30px;
		}

		padding: 4px 23px;
	}

	&__name {
		font-weight: bold;
		font-size: 28px;
		font-family: $news;
		letter-spacing: 0.7px;
		color: $dark;
		margin-bottom: 24px !important;
	}

	&__title {
		color: $dark;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.98px;
		margin-bottom: 21px !important;
	}

	p {
		margin-bottom: 35px;
	}

	ul {
		@include r(1023) {
			width: 100%;
		}

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 60%;
		padding-left: 15px;

		li {
			width: 48%;
			margin-bottom: 10px;
		}
	}

	.view__links {
		margin-top: 60px;
	}
}

.cart {
	overflow: hidden;

	& + .footer {
		margin-top: 0;
	}

	.container {
		@include r(1279) {
			padding: 0 20px;
		}

		@include r(1023) {
			display: block;
		}

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
		padding: 0 10.7%;
	}

	h2 {
		text-align: left;
		margin-bottom: 62px;
	}

	&__list {
		@include r(1279) {
			padding: 4.4% 0;
			margin-right: 20px;
		}

		width: 100%;
		padding: 4.4% 13.7% 4.4% 0;
	}

	&__info {
		padding-left: 16px;

		ul {
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 7px;
				font-size: 13px;
				letter-spacing: 0.65px;
			}
		}
	}

	&__sidebar {
		@include r(1700) {
			width: 37vw;
		}

		@include r(1279) {
			padding: 40px;
		}

		@include r(1023) {
			width: 100%;
		}

		@include r(1023) {
			padding: 40px 0;
		}

		width: 491px;
		background: #f6f6f6;
		height: 100%;
		position: relative;
		padding: 11.4% 9%;
		flex-shrink: 0;
		
		&::before {
			@include r(1023) {
				left: -20px;
				right: -20px;
			}

			content: '';
			position: absolute;
			top: 0;
			right: -108%;
			bottom: -117%;
			left: 0;
			background: #f6f6f6;
			z-index: -1;
		}

		&-title {
			font-family: $news;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	&__item {
		@include r(767) {
			border: 0;
			margin-bottom: 30px;
		}

		display: flex;
		margin-bottom: 19px;
		border-bottom: 1px solid #ccc;
		align-items: flex-start;

		img {
			width: 159px;
		}
	}

	&__category {
		font-size: 13px;
		letter-spacing: 0.65px;
		display: inline-block;
		margin-bottom: 5px;
	}

	&__name {
		font-family: $news;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.56px;
	}

	&__controls {
		@include r(767) {
			display: block;
			margin-top: 0;
		}

		display: flex;
		margin-top: 38px;

		.btn {
			@include r(767) {
				margin-bottom: 10px;
				border: 0;
				padding: 0;
				text-align: left;
			}

			padding: 12px 20px;
			display: inline-block;
			border: 1px solid #ccc;
			font-weight: bold;
			font-size: 13px;
			margin-right: -1px;
			width: 168px;
			text-align: center;
			transition: $trans;

			&:hover {
				background-color: $light;
				color: #fff;
				border-color: $light;
			}

			&:active {
				background-color: $dark;
				color: #fff;
				border-color: $dark;
				transition: none;
			}
		}
	}

	.footer {
		padding: 0;

		.form-group {
			@include r(1023) {
				display: flex;
			}
		}

		input {
			@include r(1023) {
				width: 100%;
			}

			width: 63%;
		}

		p {
			margin-bottom: 23px;
		}
	}

	&__pay {
		.or {
			display: block;
			text-align: center;
			width: 100%;
			color: #000;
			font-size: 13px;
			letter-spacing: 0.65px;
			position: relative;
			margin: 23px 0;

			&::before {
				content: '';
				position: absolute;
				top: 7px;
				left: 0;
				right: 0;
				height: 1px;
				background: #ccc;
				z-index: 1;
			}

			span {
				position: relative;
				z-index: 2;
				background: #f6f6f6;
				padding: 0 10px;
			}
		}

		.btn {
			align-items: center;
			border: 0;
			border-radius: 0;
			cursor: pointer;
			display: flex;
			justify-content: center;
			letter-spacing: .1rem;
			line-height: 1.2;
			min-height: 50px;
			padding: 0 15px;
			text-transform: capitalize;
			width: 100%;
			transition: background-color .4s,border-color .4s,color .4s;
			padding-bottom: 16px;
			padding-top: 16px;
			text-align: center;
			font-weight: bold;

			&-order {
				background-color: #00782e;
				color: #fff;

				&:hover {
					background: #005e24;
				}
			}

			&-buy {
				border: 1px solid #ccc;
			}
		}
	}

	&__total {
		padding: 24px 0 15px;
		margin-top: 32px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		p {
			font-size: 13px;
			letter-spacing: 0.65px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;

			&:last-child {
				font-weight: bold;
				font-size: 14px;
				letter-spacing: 0.98px;
				margin-top: 22px;
			}
		}
	}

	&__time {
		padding: 24px 0 20px;
		border-bottom: 1px solid #ccc;
		display: flex;

		svg {
			font-size: 15px;
			margin-right: 10px;
		}

		p {
			font-size: 13px;
			line-height: 20px;
			letter-spacing: 0.65px;
			margin-bottom: 0;
		}
	}

	&__delivery {
		padding: 24px 0 20px;
		border-bottom: 1px solid #ccc;
		
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 13px;
			letter-spacing: 0.65px;
			transition: $trans;

			&:hover {
				color: $dark;

				svg {
					fill: $dark;
				}
			}

			span {
				border-bottom: 1px solid;
			}

			svg {
				font-size: 10px;
				margin-right: 10px;
				transition: $trans;
			}
		}
	}

	&__contacts {
		padding: 24px 0 20px;
		
		p {
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 13px;
			letter-spacing: 0.65px;

			svg {
				font-size: 10px;
				margin-right: 10px;
			}

			a {
				border-bottom: 1px solid;
				margin-left: 5px;
				transition: $trans;

				&:hover {
					color: $dark;
				}
			}
		}
	}
}

.checkout {
	padding-bottom: 117px;

	&__order {
		@include r(767) {
			display: block;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 74px;

		p {
			@include r(767) {
				font-size: 20px;
				margin-bottom: 20px;
			}

			margin-bottom: 0;
			font-size: 27px;
			letter-spacing: 1.35px;
			font-weight: bold;
			color: $dark;
			font-family: $news;
		}

		.btn {
			border: 1px solid $dark;
			display: inline-block;
			padding: 17px 0;
			text-align: center;
			width: 110px;
			margin-left: 10px;
			transition: $trans;
			line-height: 1;
			font-size: 13px;
			letter-spacing: 0.91px;
			font-weight: bold;

			&:hover {
				background-color: $light;
				color: #fff;
				border-color: $light;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__title {
		background-color: #f6f6f6;
		font-weight: bold;
		font-size: 20px;
		line-height: 1;
		padding: 19px 20px;
		color: $dark;
		letter-spacing: 1px;
		margin-bottom: 21px;
	}

	&__input {
		width: 100%;
		border: 1px solid #ccc;
		padding: 0 20px;
		margin-bottom: 51px;

		.form-group {
			border-bottom: 1px solid #ccc;

			&:last-child {
				border: 0;
			}
		}

		input {
			border: 0;
			font-size: 13px;
			letter-spacing: 0.65px;
			padding: 23px 0;
			width: 100%;
		}
	}

	.radio {
		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.form-group {
			padding: 10px 0;
			border: 0;
			margin-bottom: 5px;
		}
	}

	&__delivery {
		border-top: 1px solid #ccc;
		margin-top: 29px;
		margin-bottom: 52px;
		padding-top: 3px;
		font-size: 13px;
		letter-spacing: 0.65px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span {
			margin-bottom: 5px;
		}

		a {
			border-bottom: 1px solid;
		}
	}

	&__region {
		margin-bottom: 45px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 30px;

		input {
			display: none;

			&:checked + label::before {
				background: url('../img/check.svg') no-repeat center;
				background-size: 13px;
			}
		}

		label {
			font-size: 11px;
			letter-spacing: 0.55px;
			line-height: 16px;
			position: relative;
			padding-left: 40px;
			display: block;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				left: 0;
				top: 0;
				border: 1px solid $dark;
			}
		}
	}

	.cart__list {
		button {
			align-items: center;
			border: 0;
			border-radius: 0;
			cursor: pointer;
			display: flex;
			font-size: 15px;
			justify-content: center;
			letter-spacing: .1rem;
			line-height: 1.2;
			min-height: 50px;
			padding: 0 15px;
			text-align: center;
			text-transform: capitalize;
			width: 100%;
			transition: background-color .4s,border-color .4s,color .4s;
			background-color: #00782e;
			color: #fff;

			&:hover {
				background-color: #005e24;
				color: #fff;
			}

			&:active {
				background-color: #00451a;
				color: #fff;
				transition: none;
			}
		}
	}

	&__help {
		border-top: 1px solid #ccc;
		margin-top: 50px;
		padding-top: 35px;

		p {
			margin-bottom: 24px;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.98px;
		}

		span {
			display: flex;
			align-items: center;
			font-size: 13px;

			svg {
				font-size: 9px;
				margin-right: 10px;
			}
		}
	}

	.cart__item img {
		width: 105px;
	}

	.cart__total {
		border-bottom: 0;
	}
}

.account {
	@include r(767) {
		display: block;
	}

	display: flex;
	justify-content: space-between;

	& + .footer {
		margin-top: 0;
	}

	&__sidebar {
		@include r(1366) {
			width: 25%;
		}

		@include r(767) {
			width: 100%;
			padding-top: 28px;
			padding-bottom: 20px;
		}

		width: 15.6%;
		padding-top: 42px;
		padding-bottom: 42px;
	}

	&__title {
		@include r(1366) {
			font-size: 22px;
		}

		@include r(767) {
			padding-bottom: 20px;
		}

		color: $dark;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 1.35px;
		font-family: $news;
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: 39px;
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	&__menu {
		@include r(767) {
			margin-top: 20px;
		}

		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 40px;

		a {
			@include r(767) {
				padding: 10px 0;
			}

			display: inline-block; 
			padding: 18px 0;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.65px;
			position: relative;
			transition: $trans;

			&.active {
				color: $dark;
				background-color: #f6f6f6;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 3px;
					background: $dark;
				}
			}

			&:hover {
				background-color: #f6f6f6;
				color: $dark;
			}
		}
	}

	&__body {
		@include r(767) {
			width: 100%;
			padding: 30px 20px;
		}

		background: url('../img/noise.webp') repeat center;
		width: 84.4%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 4%;
	}

	&__main {
		@include r(1366) {
			width: 68vw;
		}

		@include r(767) {
			width: 100%;
		}

		text-align: center;
		width: 49vw;

		svg {
			fill: #63605a;
			font-size: 20px;
			margin-bottom: 15px;
		}
	}

	&__data {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		letter-spacing: 0.96px;
		color: #63605a;
		margin-bottom: 24px;

		span {
			margin-bottom: 5px;
		}
	}
}

.profile {
	text-align: left;
	background: #fff;
	margin-bottom: 100px;
	
	&__title {
		background: $dark;
		color: #fff;
		padding: 20px;
		font-weight: bold;
		letter-spacing: 0.75px;
		font-size: 15px;
		line-height: 1;
	}

	&__row {
		@include r(1023) {
			display: block;
		}

		@include r(767) {
			padding: 42px 20px;
		}

		&.border {
			border-top: 1px solid #ccc;
			padding-top: 20px;
			flex-direction: column;
			align-items: flex-start;
		}

		display: flex;
		padding: 42px 41px;
		justify-content: space-between;
	}

	&__save {
		background: $light;
		color: #fff;
		font-size: 18px;
		padding: 15px 129px;
		margin-top: 20px;
		font-weight: bold;
		transition: $trans;

		&:hover {
			background: $dark;
		}
	}

	&__links {
		display: flex;

		a {
			margin-right: 10px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__col {
		@include r(1023) {
			width: 100%;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		width: 47%;

		.checkout__input {
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		span {
			font-size: 11px;
			letter-spacing: 0.55px;
			color: #63605a;
			position: relative;
			top: -10px;
		}
	}
}

.help {
	padding: 58px 0;

	.sidebar__title {
		font-size: 15px;
	}

	.container {
		@include r(767) {
			display: block;
		}

		display: flex;
		justify-content: space-between;
	}

	&__sidebar {
		@include r(1279) {
			width: 29%;
			margin-right: 20px;
		}

		@include r(767) {
			width: 100%;
			margin: 0 0 30px;
		}

		width: 14.6%;

		&-title {
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 1.05px;
			color: $dark;
			margin-bottom: 41px;
		}
	}

	&__main {
		@include r(1279) {
			width: 100%;
			padding: 0;
		}

		width: 79%;
		padding-right: 16%;
	}

	&__shop {
		color: $dark;
		font-weight: bold;
		letter-spacing: 0.68px;
		font-size: 15px;
		margin-bottom: 0;
	}

	&__title {
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 1.35px;
		line-height: 1.5;
		color: $dark;
		text-align: left;
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
	}

	&__content {
		border-top: 1px solid #ccc;
		padding-top: 20px;
		margin-top: 30px;

		h3 {
			color: $dark;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.7px;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		p {
			letter-spacing: 0.65px;
			font-size: 13px;
			line-height: 20px;
		}
	}
}

.subscription {
	border-top: 1px solid #ccc;
	padding-top: 40px;

	form {
		p {
			font-weight: bold;
			letter-spacing: 0.75px;
		}
		
		.form-group {
			@include r(767) {
				display: flex;
			}
		}

		input {
			@include r(767) {
				width: 100%;
			}
			
			margin: 0;
			border: 1px solid #cdcdcd;
			background: #fff;
			padding: 20px 19px 19px;
			color: #4c4c4c;
			font-size: 12px;
			letter-spacing: 1.2px;
			line-height: 1;
			width: 240px;
		}

		button {
			margin: 0;
			border: 1px solid $dark;
			background: $dark;
			color: #fff;
			font-size: 15px;
			letter-spacing: 0.75px;
			font-weight: bold;
			padding: 20px 39px;
			margin-left: -6px;
			line-height: 1;
			cursor: pointer;
			transition: $trans;

			&:hover {
				background-color: $light;
				border-color: $light;
			}
		}
	}
}